html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
   height: calc(100vh - 57px);
}

.hidden {
    display: none;
}

.rojo{
    background: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}